---
on:
  - push

name: Docker build
jobs:
  docker-detect:
    name: Detect docker images to build
    runs-on: self-hosted
    outputs:
      images: ${{ steps.detect.outputs.images }}
    container:
      image: ghcr.io/petrows/github-linters:v3
      options: -u 2025:2025
    steps:
      - uses: actions/checkout@v4
      - name: Detect new tags
        id: detect
        run: |
          ./bin/build_docker.py --detect-tags >> "$GITHUB_OUTPUT"
  docker-build:
    name: Build docker images
    runs-on: self-hosted
    container:
      image: ghcr.io/petrows/podman:5.7.0
      options: -u 0 --privileged
    needs: docker-detect
    strategy:
      matrix:
        image: ${{ fromJSON(needs.docker-detect.outputs.images) }}
    steps:
      - uses: actions/checkout@v4
      - name: Build docker images
        run: |
          docker login ghcr.io -u petrows -p ${{ secrets.DOCKER_TOKEN }}
          cd github-linters
          docker build --progress plain --network host -t ${{ matrix.image }} --cache-to ghcr.io/petrows/docker-images/cache --cache-from ghcr.io/petrows/docker-images/cache -f github-linters.dockerfile .
  # docker-push:
  #   name: Push docker images
  #   runs-on: self-hosted
  #   container:
  #     image: ghcr.io/petrows/podman
  #     options: -u 0 --privileged
  #   needs: docker-detect
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Build docker images
  #       run: |
  #         ./bin/build_docker.py --build
