---
on:
  - push

name: Docker build
jobs:
  docker-detect:
    name: Detect docker images to build
    runs-on: self-hosted
    container:
      image: ghcr.io/petrows/podman:5.7.0-2
      options: -u 0
    outputs:
      images: ${{ steps.detect.outputs.images }}
    steps:
      - uses: actions/checkout@v4
      - name: Detect new tags
        id: detect
        env:
          GITHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: |
          ./bin/build_docker.py --detect-images | tee "$GITHUB_OUTPUT"
  docker-build:
    name: Build
    if: ${{ needs.docker-detect.outputs.images != '[]' && needs.docker-detect.outputs.images != '' }}
    runs-on: self-hosted
    container:
      image: ghcr.io/petrows/podman:5.7.0-2
      options: -u 0 --privileged
      volumes:
        - /tmp/podman-storage:/var/lib/containers/storage
    needs: docker-detect
    strategy:
      matrix:
        image: ${{ fromJSON(needs.docker-detect.outputs.images) }}
    steps:
      - uses: actions/checkout@v4
      - name: Build ${{ matrix.image }}
        env:
          GITHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: |
          docker login ghcr.io -u petrows -p ${{ secrets.DOCKER_TOKEN }}
          echo "Build: ${{ matrix.image }}"
          ./bin/build_docker.py --build ${{ matrix.image }} | tee build.sh
          source build.sh
  docker-deploy:
    name: Deploy
    if: success() && github.ref == 'refs/heads/master'
    runs-on: self-hosted
    container:
      image: ghcr.io/petrows/podman:5.7.0-2
      options: -u 0 --privileged
      volumes:
        - /tmp/podman-storage:/var/lib/containers/storage
    needs:
      - docker-detect
      - docker-build
    strategy:
      matrix:
        image: ${{ fromJSON(needs.docker-detect.outputs.images) }}
    steps:
      - uses: actions/checkout@v4
      - name: Deploy ${{ matrix.image }}
        env:
          GITHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: |
          docker login ghcr.io -u petrows -p ${{ secrets.DOCKER_TOKEN }}
          echo "Deploy: ${{ matrix.image }}"
          ./bin/build_docker.py --deploy ${{ matrix.image }} | tee deploy.sh
          source deploy.sh
